.reveal pre code {
  font-size: 0.8em;
  border-radius: 10px;

  max-height: 60vh !important;
  overflow: hidden !important;
}

.reveal .slides section .code-presenting-annotation {
  padding: 0 .25em;
  font-size: 0.5em
}
  
